[Unit]
Description=Community Board Spring Boot Backend
After=network.target mysql.service

[Service]
User=ubuntu
WorkingDirectory=/opt/community_board_backend
ExecStart=/usr/bin/java -jar /opt/community_board_backend/backend-0.0.1-SNAPSHOT.jar

SuccessExitStatus=143
Restart=always
RestartSec=10

Environment="SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/community_board_db?serverTimezone=Asia/Seoul&characterEncoding=UTF-8"
Environment="SPRING_DATASOURCE_USERNAME=board_admin"
Environment="SPRING_DATASOURCE_PASSWORD=1234"
Environment="FILE_UPLOAD_DIR=/opt/community_board/uploads"

[Install]
WantedBy=multi-user.target